name: Latest blog posts
on:
  schedule:
    - cron: '0 */6 * * *' # Runs at 0 minutes past the hour, every 6 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://rss.app/feeds/yW51G6BInafKx47C.xml"
          max_post_count: 3
          template: |
            
            - [$title]($url)
