name: Latest blog posts
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://rss.app/feeds/yW51G6BInafKx47C.xml"
          max_post_count: 3
          template: "$newline- **[$title]($url)**$newline  $description"
          item_exec: "post.description = post.description?.slice(0,100) + '...'"
