name: Latest blog posts
on:
  schedule:
    - cron: '0 */6 * * *' 
  workflow_dispatch:  

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://olko.substack.com/feed"
          max_post_count: 3
          template: "- [$title]($url)"
          date_format: "null"